body{
	font-family: 'Bitter', serif;
}
#top{
	border-bottom: solid 2px;
	border-color: #d8d8d8;

}
.logo{
	font-size: 48px;
	color:#F7A519;
	margin-top: 15px;
	margin-bottom: 15px;
}

.searchBar{
	font-size: 25px;
	color: #D8D8D8;
	border: 2px solid;
	border-color: #D8D8D8;
	height: 50px;
	width: 640px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 15px;

}

.logo, .searchBar{
	display: inline;
}
.searchBar::after{
	color:#F7A519;
	border-color: #F7A519;
}

#today{
	height:420px;
	width: 100%;
	background-color: #f8e71c;
	display: stacked;
}
#dayToday{
	font-size: 15px;
	margin-top: 55px;
	margin-bottom: -20px;
}
#city{
	font-size: 35px;
	text-transform: uppercase;
}
#icon{
	text-align: center;
	margin-bottom: -50px;
}
#tempToday{
	font-size: 180px;
	margin-bottom: 55px;
}
#dayToday,#city,#tempToday{
	color: #ffffff;
	text-align: center;
}
.my-new-list{
	display: block;
}
#botLeft{
	background-color: #FFD83C;
}
#botMid{
	background-color: #ffb74d;
}
#botRight{
	background-color: #FFA000;
}
#botLeft,#botMid,#botRight{
	height:200px;
	font-size: 85px;
	color:#ffffff;
	text-align: center;
}
#one-sub,#two-sub,#three-sub{
	border-bottom: solid 5px;
	font-size: 45px;
	text-align: center;
	height:80px;
	margin-top: 15px;
}
#one-sub{
	border-color:#FFD83C;
	color:#FFD54F;
}
#two-sub{
	border-color:#ffb74d;
	color:#FFB74D;
}
#three-sub{
	border-color:#FFA000;
	color:#FFA000;
}
.icon1,.icon2,.icon3{
	margin-bottom: -30px;
}
.degrees{
	text-decoration: underline;
}








